Repository SuperNewRoles/SuperNewCosmetics, pull requests merged in 2022-07, with the labels that each got.

#7 220515~220706-NamePlate追加
  CustomNamePlates.json
  NamePlates/Sakura_White_Niboshi.png
  NamePlates/Sakura_White_SWND.png
  NamePlates/Sakura_White_TJAP.png
  NamePlates/Sakura_White_UT_Battle.png
  NamePlates/あもあすゆっくり_猫フード_1.png
  NamePlates/あもあすゆっくり_猫フード_2.png
  NamePlates/くらと_1000人おめでとう.png
  NamePlates/くらと_Fix_bug_byDiscord_Name.png
  NamePlates/くらと_獣幽霊.png
  NamePlates/さつまいも_1000人おめでとう.png
  NamePlates/しらたま_俺の隣にいる人がインポスターです.png
  NamePlates/にぢる_不審者.png
  NamePlates/よっす_お前を殺す.png
  NamePlates/ハロン_インポスターに自首を促すナイフ.png
  NamePlates/ハロン_私が神だ敬え.png
  NamePlates/偽うぱ_世界は私を中心に回っています.png
  NamePlates/偽うぱ_俺がこんなに愛してるのによお.png
  NamePlates/偽うぱ_私神です.png
  NamePlates/偽うぱ_編集めんどい.png
  NamePlates/花海_海の中.png
  NamePlates/黒リンゴ_清き一票を.png
Labels: customnameplates/カスタムネームプレート

#6 220408~220626-に提案されたバイザーを追加
  CustomVisors.json
  Visors/shobon_Aー.png
  Visors/shobon_クルー体験VR.png
  Visors/にぢる_困惑.png
  Visors/よっす_口の位置そこかよ.png
  Visors/らぷ_バグっちゃってる.png
  Visors/名無し_真っ黒.png
Labels: customvisors/カスタムバイザー

#5 ハット2つ、セオノコレクション
  CustomHats.json
  hats/kunoichi_adaptive.png
  hats/kunoichi_climb.png
  hats/maidmini_adaptive.png
  hats/maidmini_climb.png
Labels: customhats/カスタムハット

#12 Add/<のあ_私がやりました.png>の追加&「コーヒー(こめこのぱん)」に修正
  CustomHats.json
  CustomVisors.json
  Visors/のあ_私がやりました.png
  hats/coffee_Rice_adaptive.png
  hats/おにぎり_碧月.png
  hats/おにぎり_碧月_climb.png
Labels: customhats/カスタムハット, customvisors/カスタムバイザー
